[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-cors = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]
flask-shell-ipython = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
